.chart-container {
  width: 100%;
  max-width: 1000px;
  height: 534px;
  margin: 60px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.chart-title {
  font-size: 1.2rem;
  color: #b30000;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

.chart-controls {
  display: flex;
  gap: 0.5rem;
  margin-right: 20px;
}

.chart-button {
  border: 1px solid #dcdee2;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  background: #e9eaee;
  cursor: pointer;
  transition: all 0.3s ease
}

.chart-button:hover{
    background: #f0f1f2;
}

.chart-button.active {
  background-color: #2563eb;
  color: white;
}

.chart-button.active-type {
  background-color: #c81010;
  color: white;
}

/* ✅ Tooltip */
.custom-tooltip {
  background-color: #1f2937;
  color: white;
  padding: 0.1px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
  font-size: 0.875rem;
  transform: translate(15px, -20px);
  height: 111px;
  min-width: 80px;
  text-align: center;
}

.tooltip-date {
  font-size: 0.75rem;
  opacity: 0.8;
  margin-bottom: -3px;
}

.tooltip-price {
  font-size: 13px;
  font-weight: bold;
  margin-left: 5px;
}

.tooltip-price.usdRate {
  color: #fff;
  opacity: 0.9;
  margin-bottom: -3px;
}

.tooltip-price.eurRate {
  color: #fff;
  opacity: 0.9;
}

.tooltip-label {
  font-size: 0.69rem;
  opacity: 0.8;
  margin-bottom: -10px;
  margin-top: 8px;
}
