/* pages/Transactions.css */

/* Ana container */
.transactions-page {
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 2.5;
}

/* Başlık */
.transactions-page h2 {
  margin: 8px auto;
  text-align:left;
  font-weight: 800;
  letter-spacing: 0.1px;
  color: #ca0916;
  font-size: 25px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/* Hata mesajı */
.transactions-error {
  background: #fef3f2;
  color: #b91c1c;
  padding: 12px 16px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* Table wrapper (scroll için) */
.transactions-table-wrapper {
  overflow-x: auto;
  margin-bottom: 2px;
}

/* Tablo stili */
.transactions-table {
  width: 100%;
  border-collapse: collapse;
  background: var(--card);
}

/* Tablo hücreleri */
.transactions-table th,
.transactions-table td {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 2px solid #e5e7eb;
}

/* Satırların arka planını sırayla gri/beyaz yapar */
.transactions-table tbody tr:nth-child(odd) {
  background-color: #f3f4f6;
}

.transactions-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Loading mesajı */
.transactions-loading {
  background: #fef3f2;
  color: #b91c1c;
  padding: 12px 16px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #e5e7eb;
  margin: 250px auto;
  max-width: 500px;
}


/* Button stili (isteğe bağlı: örn. detay göster) */
.transactions-btn {
  font-family: 'GothamNarrowBook', sans-serif;
  border: 1px solid #e5e7eb;
  background: #fff;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px 12px;
}

.transactions-btn:hover {
  background: #ecedee;
  transform: scale(1.02);
}
